*.egg-info/
__pycache__/
*.pyc
.DS_Store
*~
*.backup*

.venv/
**/.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
build/
dist/
automation/snakemake_lisa_gb/bands.csv_first
automation/snakemake_lisa_gb/bands_candidates.csv
automation/snakemake_lisa_gb/bands_with_manual_00184.csv
automation/snakemake_lisa_gb/jobs/
